.user-container {
    max-width: 400px;          /* 最大寬度 */
    margin: 0 auto;            /* 居中 */
    padding: 20px;             /* 內邊框 */
    border: 1px solid #ccc;    /*邊框*/
    border-radius: 8px;        /* 邊框圓角 */
    background-color: #f9f9f9; /* 背景顏色 */
}

/* 表單樣式 */
.form-group {
    display: flex;              /* 使用 Flexbox */
    flex-direction: column;     /* 垂直排列 */
    margin-bottom: 20px;        /* 每個的間距 */
}

/* 標籤 */
label {
    margin-bottom: 5px;        /* 標籤與輸入框的間距 */
}

/* 輸入框 */
input[type="text"],
input[type="password"] {
    padding: 10px;             /* 輸入框內邊距 */
    border: 1px solid #ccc;    /* 邊框樣式 */
    border-radius: 4px;        /* 邊框圓角 */
}

/* 註冊和登入按鈕 */
.btn {
    padding: 10px;             /* 按鈕內邊框 */
    border: none;              /* 無邊框 */
    border-radius: 4px;        /* 邊框圓角 */
    background-color: #4CAF50; /* 按鈕背景顏色 */
    color: white;              /* 按鈕文字顏色 */
    cursor: pointer;           /* 滑鼠樣式 */
    margin-top: 10px;          /* 按鈕邊距 */
}


.btn:hover {
    background-color: #45a049;
}

html, body {
    height: 100%; 
    margin: 0;    
}

body {
    position: relative;
    text-align: center;
    font-family: Arial, sans-serif;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../images/logo.png');
    background-repeat: repeat;
    background-size: 5%;
    opacity: 0.5; /*設置透明度*/
    z-index: -1; 
}

body {
    background: linear-gradient(to right, rgba(240, 244, 195, 1), rgba(165, 214, 167, 1)); /* 背景漸變 */
}


